<div class="container-fluid" ng-app="application" ng-controller="AppCtrl">
	<div class="row">
    <div class="col-md-12">
    <h4> {{ contractorName }}  Supplemental Claims</h4>
    <div class="table-responsive" ng-app="application" ng-controller="AppCtrl" >
      <table id="mytable" class="table table-bordred table-striped">
         <thead>
          <th><input type="checkbox" id="checkall"/></th>
          <th>Home Owner</th>
          <th>Description</th>
          <th>Address</th>
          <th>Status</th>
          <th>Estimate</th>
          <th>Approved Value</th>
					<th>Insurance Adjustor</th>
          <th>Edit</th>
					<th>Records</th>
          <th>Done</th>
         </thead>
    <tbody>
        <tr *ngFor="let contractorClaim of contractorClaims">
	        <td><input type="checkbox" class="checkthis" /></td>
	        <td> {{ contractorClaim.user }}</td>
	        <td> {{ contractorClaim.description }}</td>
	        <td> {{ contractorClaim.address }}</td>
	        <td> {{ contractorClaim.status }}</td>
	        <td> {{ contractorClaim.estimate | currency:'USD':true:'4.2-2' }}</td>
	        <td> {{ contractorClaim.value | currency:'USD':true:'4.2-2' }}</td>
					<td> {{ contractorClaim.adjustor }}</td>
					<td><button (click)="open(contractorClaim, content)" id="{{ contractorClaim.id }}" name="submit" type="button" class="btn btn-outline-primary">Edit</button></td>
					<td><button (click)="openRecords(recordcontent)" type="button" class="btn btn-outline-danger" >Records</button></td>
					<td><button (click)="onDone()" type="button" class="btn btn-outline-success">Done</button></td>
        </tr>

    </tbody>
</table>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Update Claim</h4>
		<img class="clock" src="assets/clock.png" alt="">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
		<form #editform="ngForm" (ngSubmit)=onUpdateClaim(editform)>
		<div class="col-lg-12 col-md-12 col-sm-12">
				<input class="form-control"
				type="email"
				placeholder=""
				[ngModel]="this.singleContractorClaim.user"
				name="singleclaimuser"
				disabled>
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="text"
				placeholder=""
				[ngModel]="this.singleContractorClaim.description"
				name="singleclaimdescription"
				disabled>
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="text"
				placeholder=""
				[ngModel]="this.singleContractorClaim.address"
				name="singleclaimaddress"
				disabled>
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="text"
				placeholder=""
				[ngModel]="this.singleContractorClaim.status"
				name="singleclaimstatus">
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="number"
				placeholder=""
				[ngModel]="this.singleContractorClaim.estimate"
				name="singleclaimestimate">
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="number"
				placeholder=""
				[ngModel]="this.singleContractorClaim.value"
				name="singleclaimvalue"
				disabled>
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="text"
				placeholder=""
				[ngModel]="this.singleContractorClaim.adjustor"
				name="singleclaimadjustor"
				disabled>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<label for="exampleInputFile">Upload your Image</label>
	    <input #tref type="file"
			class="form-control-file"
			id="tref"
			name="tref"
			aria-describedby="fileHelp"
			(change)=uploadImage(tref)>
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
			<button type="submit" class="btn btn-default submitButton" >Submit</button>
		</div>
		<div>
			<input
			type="text"
			name="updateid"
			value=""
			[hidden]="true"
			[ngModel]="this.singleContractorClaim.id">
		</div>
	</form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #recordcontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Supplemental Claim Records</h4>
		<img class="clock" src="assets/clock.png" alt="">
  </div>
  <div class="modal-body" >
    <div class="col-lg-12 col-md-12 col-sm-12">
    <img src="https://s3.us-east-2.amazonaws.com/supplementalclaim/4a63dcb0-da34-46c9-a01e-343ef42fb65a" width="450px" height="300px" alt="">
   </div>
 </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
