<br>
<div class="container-fluid" ng-app="application" ng-controller="AppCtrl">
	<div class="row">
    <div class="col-md-12">
    <h4> {{ contractorName }}  Supplemental Claims</h4>
    <div class="table-responsive" ng-app="application" ng-controller="AppCtrl">
      <table id="mytable" class="table table-bordred table-striped">
         <thead>
          <th><input type="checkbox" id="checkall"/></th>
          <th>Home Owner</th>
          <th>Description</th>
          <th>Address</th>
          <th>Status</th>
          <th>Estimate</th>
          <th>Approved Value</th>
					<th>Insurance Adjustor</th>
          <th>Edit</th>
          <th>Delete</th>
         </thead>
    <tbody>
        <tr *ngFor="let contractorClaim of contractorClaims">
	        <td><input type="checkbox" class="checkthis" /></td>
	        <td> {{ contractorClaim.user }}</td>
	        <td> {{ contractorClaim.description }}</td>
	        <td> {{ contractorClaim.address }}</td>
	        <td> {{ contractorClaim.status }}</td>
	        <td> ${{ contractorClaim.estimate }}</td>
	        <td> ${{ contractorClaim.value }}</td>
					<td> {{ contractorClaim.adjustor }}</td>
	        <td><p title="Edit"><button id="{{ contractorClaim.id }}" name="submit" (click)="open(contractorClaim, content)" type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
	        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
        </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<ul class="pagination pull-right">
  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
</ul>
  </div>
    </div>
	</div>
</div>
<br>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Update Claim</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
		<form (ngSubmit)=sayHi() #f="ngForm" >
		<div class="col-lg-12 col-md-12 col-sm-12">
				<input class="form-control"
				type="email"
				placeholder=""
				[ngModel]="this.singleContractorClaim.user"
				name="singleclaimuser"
				disabled>
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="text"
				placeholder=""
				[ngModel]="this.singleContractorClaim.description"
				name="singleclaimdescription"
				disabled>
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="text"
				placeholder=""
				[ngModel]="this.singleContractorClaim.address"
				name="singleclaimaddress"
				disabled>
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="text"
				placeholder=""
				[ngModel]="this.singleContractorClaim.status"
				name="singleclaimstatus">
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="number"
				placeholder=""
				[ngModel]="this.singleContractorClaim.estimate"
				name="singleclaimestimate">
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="number"
				placeholder=""
				[ngModel]="this.singleContractorClaim.value"
				name="singleclaimvalue"
				disabled>
		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
				<input
				class="form-control"
				type="text"
				placeholder=""
				[ngModel]="this.singleContractorClaim.adjustor"
				name="singleclaimadjustor"
				disabled>

		</div>
		<div class="col-lg-12  col-md-12 col-sm-12">
			<button type="submit" class="btn btn-default submitButton" (click)="c('Close click')" >Submit</button>
		</div>
	</form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
