<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
    <h4> {{ adjustorName }}  Supplemental Claims</h4>
    <div class="table-responsive">
      <table id="mytable" class="table table-bordred table-striped">
         <thead>
          <th><input type="checkbox" id="checkall"/></th>
          <th>Home Owner</th>
          <th>Description</th>
          <th>Address</th>
          <th>Status</th>
          <th>Estimate</th>
          <th>Approved Value</th>
					<th>Contractor</th>
          <th>Edit</th>
          <th>Delete</th>
         </thead>
    <tbody>
        <tr *ngFor="let adjustorClaim of adjustorClaims">
        <td><input type="checkbox" class="checkthis" /></td>
        <td> {{ adjustorClaim.user }}</td>
        <td> {{ adjustorClaim.description }}</td>
        <td> {{ adjustorClaim.address }}</td>
        <td> {{ adjustorClaim.status }}</td>
        <td> ${{ adjustorClaim.estimate }}</td>
        <td> ${{ adjustorClaim.value }}</td>
				<td> {{ adjustorClaim.contractor }}</td>
        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
        </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<ul class="pagination pull-right">
  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
</ul>
  </div>
    </div>
	</div>
</div>
