<!-- <nav class="navbar .navbar-fixed-top">
<div class="container-fluid"> -->
  <!-- <div class="row"> -->
    <!-- <div class="page-header row">
      <img class="logo" src="assets/logo.png" alt="">
        <button type="button" class="btn btn-default btn-sm" (click)="onSignOut()">Sign Out</button>
    </div> -->
  <!-- </div> -->
<!-- </div>
</nav> -->
<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="page-header row">
        <img class="logo" src="assets/logo.png" alt="">
          <button type="button" class="btn btn-default btn-sm" (click)="onSignOut()">Sign Out</button>
      </div>
    </div>
  </div>
</nav> -->

<nav class="navbar sticky-top navbar-light bg-light">
  <img class="logo" src="assets/logo.png" alt="">
  <button type="button" class="btn btn-default btn-sm user-signout-btn" (click)="onSignOut()">Sign Out</button>
</nav>
