<div class="well center-block" style="max-width: 800px">
  <form class="form-horizontal" (ngSubmit)="onSignUp(f)" #f="ngForm">
    <div class="form-group">
      <label for="estimate" class="col-sm-2 control-label">Estimate: $</label>
      <div class="col-sm-10">
        <input type="number"
        class="form-control"
        id="estimate"
        placeholder="0"
        ngModel
        name="estimate">
      </div>
    </div>
    <div class="form-group">
      <label for="signUpEmail" class="col-sm-2 control-label">Status</label>
      <div class="col-sm-10">
        <select id="status" name="select" class="form-control">
          <option value="pending-contractor">Pending Contractor</option>
          <option value="pending-adjustor">Pending Adjustor</option>
          <option value="approved">Approved</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="estimate" class="col-sm-2 control-label">Approved: $</label>
      <div class="col-sm-10">
        <input type="number"
        class="form-control"
        id="approved"
        placeholder="0"
        ngModel
        name="approved-value">
      </div>
    </div>
    <div class="form-group">
      <label for="signUpTitle" class="col-sm-2 control-label">Address</label>
      <div class="col-sm-10">
        <input type="text"
        class="form-control"
        id="signUpTitle"
        placeholder="street, city, state"
        ngModule
        name="address">
      </div>
    </div>
    <div class="form-group">
      <label for="newClaimAdjustor" class="col-sm-2 control-label">Insurance Adjustor</label>
      <div class="col-sm-10">
        <select id="status" name="select" class="form-control" >
          <option value="{{adjustor.id}}" *ngFor="let adjustor of adjustors">{{ adjustor.name + " " + adjustor.company}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="newClaimContractor" class="col-sm-2 control-label">Contractor</label>
      <div class="col-sm-10">
        <select id="status" name="select" class="form-control" >
          <option value="{{contractor.id}}" *ngFor="let contractor of contractors">{{ contractor.name + " " + contractor.company}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="Submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
