<div class="well center-block" style="max-width: 800px">
  <form class="form-horizontal" (ngSubmit)="onSubmitClaim(f)" #f="ngForm">
    <div class="form-group">
      <label for="newClaimDescription" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <select id="newClaimDescription"
         name="newClaimDescription"
         class="form-control"
         ngModel>
         <option value="" disabled selected>Description</option>
          <option [value]="" *ngFor="let description of descriptions">{{ description }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="estimate" class="col-sm-2 control-label">Estimate: $</label>
      <div class="col-sm-10">
        <input type="number"
        class="form-control"
        id="estimate"
        placeholder="0"
        ngModel
        name="newClaimEstimate">
      </div>
    </div>
    <div class="form-group">
      <label for="signUpEmail" class="col-sm-2 control-label">Status</label>
      <div class="col-sm-10">
        <select id="newClaimStatus"
        name="newClaimStatus"
        class="form-control"
        ngModel>
          <option value="pending-contractor" selected>Pending Contractor</option>
          <option value="pending-adjustor" disabled>Pending Adjustor</option>
          <option value="approved" disabled>Approved</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="estimate" class="col-sm-2 control-label">Approved: $</label>
      <div class="col-sm-10">
        <input type="number"
        class="form-control"
        id="newClaimValue"
        placeholder="0"
        ngModel
        name="newClaimValue">
      </div>
    </div>
    <div class="form-group">
      <label for="newClaimAddress" class="col-sm-2 control-label">Address</label>
      <div class="col-sm-10">
        <input type="text"
        class="form-control"
        id="newClaimAddress"
        placeholder="street, city, state"
        ngModel
        name="newClaimAddress">
      </div>
    </div>
    <div class="form-group">
      <label for="newClaimAdjustor" class="col-sm-2 control-label">Insurance Adjustor</label>
      <div class="col-sm-10">
        <select id="newClaimAdjustor"
        name="newClaimAdjustor"
        class="form-control"
        ngModel>
          <option value="" disabled selected>Adjustor Name, Company</option>
          <option value="{{adjustor.id}}" *ngFor="let adjustor of adjustors">{{ adjustor.name + " " + adjustor.company}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="newClaimContractor" class="col-sm-2 control-label">Contractor</label>
      <div class="col-sm-10">
        <select id="newClaimContractor"
         name="newClaimContractor"
         class="form-control"
         ngModel>
         <option value="" disabled selected>Contractor Name, Company</option>
          <option [value]="contractor.id" *ngFor="let contractor of contractors">{{ contractor.name + " " + contractor.company}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="Submit" class="btn btn-default">Submit</button>
        <button type="button" class="btn btn-default" (click)="onNewForm()">Close</button>
      </div>
    </div>
  </form>
</div>
