<div class="cliam-container" *ngFor="let ownerClaim of ownerClaims">
  <div class="well center-block" style="max-width: 800px">
    <div class="row">
      <div class="col-sm-6 col-md-12 ">
        <div class="thumbnail">
          <img class="clock" src="assets/clock.png" alt="clock">
          <div class="caption" >
            <h3>{{ 'Description  :  ' + ownerClaim.description }}</h3>
            <h5>{{ 'Address: ' + ownerClaim.address }}</h5>
            <h5>{{ 'Estimate: ' + ownerClaim.estimate }}</h5>
            <h5>{{ 'Value: ' + ownerClaim.value }}</h5>
            <h5>{{ 'Adjustor: ' + ownerClaim.adjustor }}</h5>
            <h5>{{ 'Contractor: ' + ownerClaim.contractor }}</h5>
            <h5>{{ 'Status: ' + ownerClaim.status }}</h5>
          </div>
          <p><a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
